<!DOCTYPE html>
<html>
<head>
  <title>Zomeki login</title>
  <%= stylesheet_link_tag    "zomeki_login/application", media: "all" %>
  <%= javascript_include_tag "zomeki_login/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
